<%= stylesheet_link_tag "resume" %>

<div class='resume-wrapper'>

  <h1>Alison Tague</h1>
  <h6>Full-Stack Ruby on Rails and JavaScript Engineer</h6>

  <div class="main-section">
    <div class='jobs-and-descriptions'>
      <h2 class='section'>Experience</h2>
      <h3 class='company'>Company</h3>
      <h3 class='position'>Job Title</h3>
      <h4 class='city'>City</h4>
      <p class='date'>date</p>
      <p class='description'></p>
    </div>

    <div class='education-information'>
      <h2 class='section'>Education</h2>
      <h3 class='school'>General Assembly, <span class='focus'>WDI</span><span class='separator'></span><span class='city'>Washington, D.C.</span></h3>
      <p class='description'>Student, Full-Time Web Development Immersive, 2015</p>

      <h3 class='school'>Boston University, <span class='focus'>School of Hospitality</span><span class='separator'></span><span class='city'>Boston, MA</span></h3>
      <p class='description'>Bachelor of Science, 2011</p>
    </div>
  </div>

  <div class='listed-skills-technologies'>
    <h1 class='list-header'>Languages</h1>
      <ul>
        <li>Ruby</li>
        <li>Javascript</li>
        <li>SQL</li>
        <li>CSS/SASS</li>
      </ul>
    <h1 class='list-header'>Libraries/Frameworks</h1>
      <ul>
        <li>Rails</li>
        <li>Sinatra</li>
        <li>rSpec</li>
        <li>Jasmine</li>
        <li>jQuery</li>
        <li>Underscore.js</li>
        <li>Bootstrap</li>
        <li>MiniTest</li>
      </ul>
    <h1 class='list-header'>Methodologies</h1>
      <ul>
        <li>REST</li>
        <li>MVC</li>
        <li>TDD</li>
        <li>OOP</li>
        <li>Agile</li>
      </ul>
    <h1 class='list-header'>SKILLS</h1>
      <ul>
        <li>HTML</li>
        <li>API Integration</li>
        <li>Git</li>
        <li>PostgreSQL</li>
        <li>JIRA</li>
      </ul>
  </div>
  <div class='bottom'></div>

</div>




<%= render partial: './footer' %>
